* {
  margin: 0;
  padding: 0;
}

.codehighlight{
  font-family: "Source-Code-Pro";
  font-weight: 400;
  background-color: #151515;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: gray;
  width: 300px;
  border-radius: 4px;
  position: relative;
  top: 20px;
  left: 30px;
  /* margin: auto; */
}


/* dropdown menu */
.dropdown {
  position: absolute;
  top: 10%;
  left: 89%;
  display: inline-block;
  z-index: 1;
}

.dropdown_items{
  display: none;
  position: absolute;
  background-color: black;
  border-width: 1px;
  border-color: orange;
  border-style: solid;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 9px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.dropdown:hover .dropdown_items{
  display: block;
}

.dropdown_items a{
  color: white;
  text-decoration: none;
}

.dropdown_button{
  background-color: #FFFFFF;
  color: black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 9px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* end of dropdown */


/* theme: clean */
.clean_banner {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #55FFA4, #55DAFF);
  width: 100%;
  height: 225px;
  text-align: center;
  font-size: 30px;
}

.clean_bannertitle {
 color: white;
 padding-top: 20px;
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
}

.clean_bannersubtitle {
  color: white;
  padding-top: 10px;
  padding-bottom: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.clean_button{
  background-color: #FFFFFF;
  border: 1px;
  border-style: solid;
  border-color: #00748D;
  border-radius: 8px;
  color: #00748D;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin: 0 auto;
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: .90;
}

.clean_button:hover{
 opacity: .7;
}

.clean_theme{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  top: 5%;
  left: 89%;
}

.clean_header {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #00A6CA;
  padding-top: 30px;
  padding-left: 30px;
}

.clean_subheader {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #00A6CA;
  padding-top: 10px;
  padding-left: 30px
}

.clean_paragraph{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #696969;
  padding-left: 30px;
  padding-top: 20px;
  line-height: 2;
}
